{% extends "IDCIContactFormBundle::adminbase.html.twig" %}

{% block body %}

{{ parent() }}

<div class="page-header">
    <h1>{% trans %}Source List{% endtrans %}</h1>
</div>

<p>
    {{ pagerfanta(pager, 'twitter_bootstrap') }}
</p>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_contact_source_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>

<table class="table table-bordered table-striped table-condensed records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Mail</th>
            <th>IsEnabled</th>
            <th>ApiToken</th>
            <th>DomainList</th>
            <th>IpWhiteList</th>
            <th>IpBlackList</th>
            <th>HttpsOnly</th>
            <th>HttpMethod</th>
            <th>ResponseFormat</th>
            <th>Providers</th>
            <th colspan="4">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pager.currentPageResults %}
        <tr>
            <td><a href="{{ path('admin_contact_source_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.mail }}</td>
            <td>{{ entity.isEnabled }}</td>
            <td>{{ entity.apiToken }}</td>
            <td>
                <ul>
                {% for domain in entity.domainList %}
                    <li>{{ domain }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                {% for whiteIp in entity.ipWhiteList %}
                    <li>{{ whiteIp }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                {% for blackIp in entity.ipBlackList %}
                    <li>{{ blackIp }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ entity.httpsOnly }}</td>
            <td>{{ entity.httpMethod }}</td>
            <td>{{ entity.responseFormat }}</td>
            <td>
                {% include 'IDCIContactFormBundle:AdminSource:providers.html.twig' with { 'source_providers': entity.sourceProviders } %}
            </td>
            <td>
                <a class="btn btn-success" href="{{ path('admin_contact_source_provider_new', { 'source_id': entity.id }) }}">{% trans %}add provider{% endtrans %}</a>
            </td>
            <td>
                <a class="btn" href="{{ path('admin_contact_source_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
            </td>
            <td>
                <a class="btn btn-primary" href="{{ path('admin_contact_source_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
            </td>
            <td>
                {{ render(controller('IDCIContactFormBundle:AdminSource:deleteForm', { 'id': entity.id })) %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('admin_contact_source_new') }}">
            {% trans %}Create a new entry{% endtrans %}
        </a>
    </li>
</ul>
{% endblock body %}
